---
---

@import "reset";
@import "variables";
@import "highlights";
@import "svg-icons";

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');

$black: #2d2d2d;

body {
  overflow: hidden;
  font-family: 'Roboto Slab', serif;
  line-height: 1.65;
  background-color: #fbfbfb;
}

.site_top, .site_middle {
  display: inline-block;
  height: 100vh;
  vertical-align: top;
}

.site_top {
  width: 30%;
  margin-right: -4px;
  background: $black;
  color: white;
  padding: 40px;
  
  .site_name {
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-size: 32px;
  }
}

.site_middle {
  width: 70%;
  overflow-Y: scroll;
  padding: 37.5px 40px;
  
  &::-webkit-scrollbar {
    width: 24px;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 0 9px #f9f9f9;
    background: rgb(232, 232, 232);
  }
}

article.post {
  background: #fbfbfb;
  margin: 12.5px 0;
  
  h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 7px;
    
    a {
      color: $black;
    }
  }
}
